@import url('../public/font/nanumSquareRound.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* TODO: 추후 폰트 사이즈 변경 및 적용*/

@layer utilities {
    /*main*/
    /*--section1*/
    .mainSection1 {
        @apply sticky top-0 h-screen flex flex-col justify-center items-center z-10
    }

    .mainSection1-title {
        @apply font-nanumSquareRound font-extrabold text-[60px] leading-[140%] -tracking-[1px]
    }

    .mainSection1-subtitle {
        @apply font-nanumSquareRound font-normal text-[24px] text-black/50
    }

    /*--section2*/
    .mainSection2-title {
      @apply text-[68px] font-extrabold
    }
    /*---image*/
    .mainSection2-img-robot {
        @apply absolute top-[20%] left-[20%] animate-float-robot-3s
    }

    .mainSection2-img-earth {
        @apply absolute bottom-[10%] left-[53%] transform -translate-x-1/2
    }

    .mainSection2-img-FlyingBoy1 {
        @apply absolute bottom-[25%] left-[15%] animate-float-robot-5s
    }

    .mainSection2-img-FlyingBoy2 {
        @apply absolute bottom-[8%] right-[45%] animate-float-robot-3s
    }

    .mainSection2-img-FlyingGirl3 {
        @apply absolute top-[14%] right-[5%] animate-float-robot-3s
    }

    .mainSection2-img-whale {
        @apply absolute top-[50%] right-[15%] animate-float-robot-5s
    }

    .mainSection2-img-star1 {
        @apply absolute top-[40%] left-[25%]
    }

    .mainSection2-img-planet {
        @apply absolute top-[0%] right-[26%]
    }

    .mainSection2-img-star2 {
        @apply absolute bottom-[20%] right-[20%]
    }

    .mainSection2-img-rabbit {
        @apply absolute bottom-[5%] right-0
    }
    /*--section3*/

    /*---image*/
    .mainSection3-img-robot {
        @apply absolute bottom-[13%] left-[20%] animate-float-robot-5s
    }

    .mainSection3-img-sparkle {
        @apply absolute bottom-[0%] left-[20%] transform -translate-x-1/2
    }

    .mainSection3-img-spring {
        @apply absolute bottom-[13%] left-[13%] animate-float-robot-3s
    }

    .mainSection3-img-y{
        @apply absolute top-0 right-0 transform -translate-x-1/2
    }

    .mainSection3-img-bubble {
        @apply absolute bottom-[35%] left-[33%]  animate-float-robot-3s
    }

    /*about*/
    /*--section1*/
    .aboutSection1 {
        @apply flex justify-center items-center w-full h-[10%] bg-local  bg-black/20 z-10 overflow-hidden
    }

    .aboutSection1-line-plum {
        @apply absolute top-[37%] left-[20%]
    }

    .aboutSection1-line-yellow {
        @apply absolute top-[15%] right-[17.5%]
    }

    .aboutSection1-title {
        @apply text-[68px] font-extrabold leading-[150%] -tracking-[0.5px]
    }

    .aboutSection1-subtitle {
        @apply text-[30px] font-bold leading-[150%] -tracking-[0.5px]
    }

    /*project*/
    .flexible-card {
        @apply flex grow shrink-0 min-w-[250px];
    }

    /*portfolio*/
    .portfolio-card {
        @apply flex grow shrink-0 min-w-[250px];
    }

    /*valid*/
    .valid-card {
        @apply flex grow shrink-0 min-w-[250px] max-w-[250px];
    }

    /*320px*/
    @screen sm {
        /*main*/
        /*--section1*/
        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[24px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[14px] text-black/50
        }

        /*--section2*/
        .mainSection2-title {
            @apply text-[32px] font-extrabold
        }
        /*---img*/
        .mainSection2-img-robot {
            @apply absolute w-[20%] top-[18%] left-[5%] animate-float-robot-3s
        }

        .mainSection2-img-earth {
            @apply absolute top-[65%] left-[53%] transform -translate-x-1/2 scale-[80%]
        }

        .mainSection2-img-FlyingBoy1 {
            @apply absolute w-[30%] top-[55%] left-[3%] animate-float-robot-5s
        }

        .mainSection2-img-FlyingBoy2 {
            @apply absolute w-[40%] top-[75%] right-[10%] animate-float-robot-3s
        }

        .mainSection2-img-FlyingGirl3 {
            @apply absolute w-[25%] top-[10%] right-[0%] animate-float-robot-3s
        }

        .mainSection2-img-whale {
            @apply absolute w-[15%] top-[35%] right-[0%] animate-float-robot-5s
        }

        .mainSection2-img-star1 {
            @apply absolute w-[15%] top-[5%] left-[18%]
        }

        .mainSection2-img-planet {
            @apply absolute w-[20%] top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply absolute w-[20%] top-[60%] right-[21%]
        }

        .mainSection2-img-rabbit {
            @apply absolute w-[40%] top-[49%] right-0
        }
        /*--section3*/
        /*--img*/
        .mainSection3-img-robot {
            @apply absolute bottom-[13%] left-[20%] animate-float-robot-5s
        }

        .mainSection3-img-sparkle {
            @apply absolute bottom-[0%] left-[20%] transform -translate-x-1/2
        }

        .mainSection3-img-spring {
            @apply absolute bottom-[13%] left-[13%] animate-float-robot-3s
        }

        .mainSection3-img-y{
            @apply absolute top-0 right-0 transform -translate-x-1/2
        }

        .mainSection3-img-bubble {
            @apply absolute bottom-[35%] left-[33%]  animate-float-robot-3s
        }

        /*about*/
        /*--section1*/
        /*--img*/
        .aboutSection1-line-plum {
            @apply top-[55%] -left-[10%] scale-[40%]
        }

        .aboutSection1-line-yellow {
            @apply -top-5 -right-10 scale-[40%]
        }

        .aboutSection1-title {
            @apply text-[24px]
        }

        .aboutSection1-subtitle {
            @apply text-[14px] w-[60%]
        }

        /*--section2*/
        /*---img*/
        /*--section2*/
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*project*/
        .flexible-card {
            @apply basis-1;
        }

        /*portfolio*/
        .portfolio-card {
            @apply basis-1;
        }

        /*valid*/
        .valid-card {
            @apply basis-1;
        }
    }
    /*728px*/
    @screen md {
        /*main*/
        /*--section1*/
        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[56px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[20px] text-black/50
        }

        /*--section2*/
        .mainSection2-title {
            @apply text-[56px] font-extrabold
        }

        /*---img*/
        .mainSection2-img-robot {
            @apply absolute w-[17%] top-[18%] left-[5%] animate-float-robot-3s
        }

        .mainSection2-img-earth {
            @apply absolute w-[70%] top-[60%] left-[50%] transform -translate-x-1/2
        }

        .mainSection2-img-FlyingBoy1 {
            @apply absolute w-[30%] top-[45%] left-[3%] animate-float-robot-5s
        }

        .mainSection2-img-FlyingBoy2 {
            @apply absolute w-[30%] top-[68%] right-[20%] animate-float-robot-3s
        }

        .mainSection2-img-FlyingGirl3 {
            @apply absolute w-[25%] top-[10%] right-[0%] animate-float-robot-3s
        }

        .mainSection2-img-whale {
            @apply absolute w-[15%] top-[35%] right-[0%] animate-float-robot-5s
        }

        .mainSection2-img-star1 {
            @apply absolute w-[15%] top-[44%] left-[35%]
        }

        .mainSection2-img-planet {
            @apply absolute w-[20%] top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply absolute w-[20%] top-[55%] right-[18%]
        }

        .mainSection2-img-rabbit {
            @apply absolute w-[40%] top-[37%] right-0
        }

        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*about*/
        /*--section1*/
        .aboutSection1-line-plum {
            @apply top-[60%] left-[5%] scale-75
        }

        .aboutSection1-line-yellow {
            @apply top-[10%] right-[5%] scale-75
        }

        .aboutSection1-title {
            @apply text-[56px]
        }

        .aboutSection1-subtitle {
            @apply text-[24px] w-[58%]
        }

        /*--section2*/
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*project*/
        .flexible-card {
            @apply basis-[45%] max-w-[45%];
        }

        /*portfolio*/
        .portfolio-card {
            @apply basis-[45%] max-w-[45%];
        }

        /*valid*/
        .valid-card {
            @apply basis-[45%] max-w-[45%] w-full;
        }
    }
    @screen lg {
        .portfolio-card {
            @apply basis-[30%] max-w-[30%];
        }
    }
    /*1280px*/
    @screen xl {
        /*main*/
        /*--section1*/
        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[56px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[20px] text-black/50
        }
        /*--section2*/
        .mainSection2-title {
            @apply text-[56px] font-extrabold
        }
        /*---Img*/
        .mainSection2-img-robot {
            @apply w-[8%] absolute top-[15%] left-[10%]
        }

        .mainSection2-img-earth {
            @apply w-[35%] absolute top-[60%] scale-100
        }

        .mainSection2-img-FlyingBoy1 {
            @apply w-[15%] absolute top-[50%] left-[5%]
        }

        .mainSection2-img-FlyingBoy2 {
            @apply w-[15%] absolute top-[69%] right-[35%]
        }

        .mainSection2-img-FlyingGirl3 {
            @apply w-[14%] absolute top-[8%] right-[8%]
        }

        .mainSection2-img-whale {
            @apply w-[7%] absolute top-[40%] right-[10%]
        }

        .mainSection2-img-star1 {
            @apply w-[7%] absolute top-[35%] left-[20%]
        }

        .mainSection2-img-planet {
            @apply w-[10%] absolute top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply w-[10%] absolute top-[70%] right-[17%]
        }

        .mainSection2-img-rabbit {
            @apply w-[20%] absolute top-[50%] right-0
        }
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*about*/
        /*--section1*/
        .aboutSection1-line-plum {
            @apply top-[37%] left-[5%]
        }

        .aboutSection1-line-yellow {
            @apply absolute top-[15%] right-[5%]
        }

        .aboutSection1-subtitle {
            @apply text-[30px] w-[100%] font-bold leading-[150%] -tracking-[0.5px]
        }

        /*--section2*/
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*project*/
        .flexible-card {
            @apply basis-[30%] max-w-[30%];
        }

        /*portfolio*/
        /*valid*/
        .valid-card {
            @apply basis-[30%] max-w-[30%] w-full;
        }

    }
    /*1920px*/
    @screen 2xl {
        /*main*/
        /*--section1*/
        .mainSection1 {
            @apply sticky top-0 h-screen flex flex-col justify-center items-center z-10
        }

        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[60px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[24px] text-black/50
        }

        /*--section2*/
        .mainSection2-title {
            @apply text-[68px] font-extrabold
        }
        /*---Img*/
        .mainSection2-img-robot {
            @apply w-[8%] absolute top-[15%] left-[15%]
        }

        .mainSection2-img-earth {
            @apply w-[35%] absolute top-[60%]
        }

        .mainSection2-img-FlyingBoy1 {
            @apply w-[15%] absolute top-[50%] left-[10%]
        }

        .mainSection2-img-FlyingBoy2 {
            @apply w-[13%] absolute top-[70%] right-[37%]
        }

        .mainSection2-img-FlyingGirl3 {
            @apply w-[14%] absolute top-[5%] right-[8%]
        }

        .mainSection2-img-whale {
            @apply w-[5%] absolute top-[45%] right-[10%]
        }

        .mainSection2-img-star1 {
            @apply w-[6%] absolute top-[40%] left-[22%]
        }

        .mainSection2-img-planet {
            @apply w-[10%] absolute top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply w-[8%] absolute top-[65%] right-[20%]
        }

        .mainSection2-img-rabbit {
            @apply w-[20%] absolute top-[40%] right-0
        }
        /*--section3*/
        /*---image*/
        .mainSection3-img-robot {
            @apply absolute bottom-[13%] left-[20%] animate-float-robot-5s
        }

        .mainSection3-img-sparkle {
            @apply absolute bottom-[0%] left-[20%] transform -translate-x-1/2
        }

        .mainSection3-img-spring {
            @apply absolute bottom-[13%] left-[13%] animate-float-robot-3s
        }

        .mainSection3-img-y{
            @apply absolute top-0 right-0 transform -translate-x-1/2
        }

        .mainSection3-img-bubble {
            @apply absolute bottom-[35%] left-[33%]  animate-float-robot-3s
        }

        /*about*/
        /*--section1*/
        .aboutSection1 {
            @apply flex justify-center items-center w-full h-[10%] bg-local bg-black/20 z-10 overflow-hidden
        }

        .aboutSection1-line-plum {
            @apply absolute top-[37%] left-[20%] scale-100
        }

        .aboutSection1-line-yellow {
            @apply absolute top-[15%] right-[17.5%] scale-100
        }

        .aboutSection1-title {
            @apply text-[68px] font-extrabold leading-[150%] -tracking-[0.5px]
        }

        .aboutSection1-subtitle {
            @apply text-[30px] font-bold leading-[150%] -tracking-[0.5px]
        }

        /*project*/
        .flexible-card {
            @apply basis-[30%] max-w-[30%];
        }

        /*portfolio*/
        .portfolio-card {
            @apply basis-[23%] max-w-[23%];
        }

        /*valid*/
        .valid-card {
            @apply basis-[30%] max-w-[30%] w-full;
        }
    }
}

:root {
    width: 100%;
    height: 100%;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 100vh;
    /*overflow-x: hidden; !* 가로 스크롤 방지 *!*/
}

body::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

@layer utilities {
    /* 웹킷 기반 스크롤바 숨기기 */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Firefox에서 스크롤바 숨기기 */
    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
    }
}
