@import url('../public/font/pretendard.css');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* TODO: 추후 폰트 사이즈 변경 및 적용*/

@layer utilities {
  .pretendard {
    @apply font-pretendard
  }

  .pretendard-bold {
    @apply font-pretendard font-bold;
  }

  .pretendard-extraBold {
    @apply font-pretendard font-extrabold;
  }

  @screen sm {
    .pretendard .pretendard-bold .pretendard-extraBold {
      @apply text-sm;
    }
  }
  @screen md {
    .pretendard .pretendard-bold .pretendard-extraBold {
      @apply text-base;
    }
  }
  @screen lg {
    .pretendard .pretendard-bold .pretendard-extraBold {
      @apply text-lg;
    }
  }
}

:root {
  width: 100%;
  height: 100%;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; /* 가로 스크롤 방지 */
}

body::-webkit-scrollbar {
  display: none; /* 스크롤바 숨기기 */
}

@layer utilities {
  /* 웹킷 기반 스크롤바 숨기기 */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Firefox에서 스크롤바 숨기기 */
  .no-scrollbar {
    scrollbar-width: none; /* Firefox */
  }
}
