@import url('../public/font/nanumSquareRound.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    /*main*/
    /*--section1*/
    .mainSection1 {
        @apply sticky top-0 h-screen flex flex-col justify-center items-center z-10
    }

    .mainSection1-title {
        @apply font-nanumSquareRound font-extrabold text-[60px] leading-[140%] -tracking-[1px]
    }

    .mainSection1-subtitle {
        @apply font-nanumSquareRound font-normal text-[24px] text-black/50
    }

    /*--section2*/
    .mainSection2-title {
      @apply text-[68px] font-extrabold
    }
    /*---image*/
    .mainSection2-img-robot {
        @apply absolute top-[20%] left-[20%] animate-float-robot-3s
    }

    .mainSection2-img-earth {
        @apply absolute bottom-[10%] left-[53%] transform -translate-x-1/2
    }

    .mainSection2-img-FlyingBoy1 {
        @apply absolute bottom-[25%] left-[15%] animate-float-robot-5s
    }

    .mainSection2-img-FlyingBoy2 {
        @apply absolute bottom-[8%] right-[45%] animate-float-robot-3s
    }

    .mainSection2-img-FlyingGirl3 {
        @apply absolute top-[14%] right-[5%] animate-float-robot-3s
    }

    .mainSection2-img-whale {
        @apply absolute top-[50%] right-[15%] animate-float-robot-5s
    }

    .mainSection2-img-star1 {
        @apply absolute top-[40%] left-[25%]
    }

    .mainSection2-img-planet {
        @apply absolute top-[0%] right-[26%]
    }

    .mainSection2-img-star2 {
        @apply absolute bottom-[20%] right-[20%]
    }

    .mainSection2-img-rabbit {
        @apply absolute bottom-[5%] right-0
    }
    /*--section3*/
    .mainSection3-index {
        @apply flex gap-[10%] relative w-full h-screen justify-center items-start
    }

    .mainSection3-text-box {
        @apply flex flex-col gap-5 w-[20%] text-center items-start mt-[8%] ml-[10%]
    }
    .mainSection3-scroll {
        @apply absolute top-[45%] left-[3%] flex flex-col h-screen justify-start items-start
    }

    .mainSection3-video {
        @apply flex w-[42.74%] aspect-[880/596] rounded-[54px] mt-[13%] overflow-hidden shadow-[0_0_30px_10px_rgba(0,0,0,0.3)]
    }
    /*---image*/
    .mainSection3-img-robot {
        @apply absolute bottom-[13%] left-[20%] animate-float-robot-5s
    }

    .mainSection3-img-sparkle {
        @apply absolute bottom-[0%] left-[20%] transform -translate-x-1/2
    }

    .mainSection3-img-spring {
        @apply absolute bottom-[13%] left-[13%] animate-float-robot-3s
    }

    .mainSection3-img-y{
        @apply absolute top-0 right-0 transform -translate-x-1/2
    }

    .mainSection3-img-bubble {
        @apply absolute bottom-[35%] left-[33%]  animate-float-robot-3s
    }

    /*--section4*/
    /*--image*/
    .mainSection4-img-asterisk {
        @apply absolute bottom-0 left-[5%];
    }
    .mainSection4-img-idea {
        @apply absolute bottom-[11%] right-[7%];
    }

    .mainSection4-img-people {
        @apply absolute bottom-[10%] right-[19.5%];
    }
    .mainSection4-img-chatbot {
        @apply absolute bottom-[20%] right-[31.5%] animate-float-robot-3s;
    }
    .mainSection4-img-cloud1 {
        @apply absolute top-[5%] right-[40%] animate-float-robot-5s;
    }
    .mainSection4-img-cloud2 {
        @apply absolute bottom-[43%] right-[3%] animate-float-robot-5s;
    }

    /*about*/
    /*--section1*/
    .aboutSection1 {
        @apply flex justify-center items-center w-full h-[10%] bg-local  bg-black/20 z-10 overflow-hidden
    }

    .aboutSection1-line-plum {
        @apply absolute top-[37%] left-[20%]
    }

    .aboutSection1-line-yellow {
        @apply absolute top-[15%] right-[17.5%]
    }

    .aboutSection1-title {
        @apply text-[68px] font-extrabold leading-[150%] -tracking-[0.5px]
    }

    .aboutSection1-subtitle {
        @apply text-[30px] font-bold leading-[150%] -tracking-[0.5px]
    }

    /*project*/
    .flexible-card {
        @apply flex grow shrink-0 min-w-[250px];
    }

    /*portfolio*/
    .portfolio-card {
        @apply flex grow shrink-0 min-w-[250px];
    }

    /*valid*/
    .valid-card {
        @apply flex grow shrink-0 min-w-[250px] max-w-[250px];
    }

    /*320px*/
    @screen sm {
        /*main*/
        /*--section1*/
        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[24px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[14px] text-black/50
        }

        /*--section2*/
        .mainSection2-title {
            @apply text-[32px] font-extrabold
        }
        /*---img*/
        .mainSection2-img-robot {
            @apply absolute w-[20%] top-[18%] left-[5%] animate-float-robot-3s
        }

        .mainSection2-img-earth {
            @apply absolute top-[65%] left-[53%] transform -translate-x-1/2 scale-[80%]
        }

        .mainSection2-img-FlyingBoy1 {
            @apply absolute w-[30%] top-[55%] left-[3%] animate-float-robot-5s
        }

        .mainSection2-img-FlyingBoy2 {
            @apply absolute w-[40%] top-[75%] right-[10%] animate-float-robot-3s
        }

        .mainSection2-img-FlyingGirl3 {
            @apply absolute w-[25%] top-[10%] right-[0%] animate-float-robot-3s
        }

        .mainSection2-img-whale {
            @apply absolute w-[15%] top-[35%] right-[0%] animate-float-robot-5s
        }

        .mainSection2-img-star1 {
            @apply absolute w-[15%] top-[5%] left-[18%]
        }

        .mainSection2-img-planet {
            @apply absolute w-[20%] top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply absolute w-[20%] top-[60%] right-[21%]
        }

        .mainSection2-img-rabbit {
            @apply absolute w-[40%] top-[49%] right-0
        }
        /*--section3*/
        .mainSection3-introduction {
            @apply absolute top-[10%] left-[25%] flex-col gap-10 -translate-x-1/2 w-[20%] text-center
        }

        .mainSection3-index {
            @apply flex flex-col gap-[5%] relative w-full h-screen justify-center items-start
        }

        .mainSection3-text-box {
            @apply flex flex-col gap-5 w-[100%] text-center items-center m-[0%]
        }
        .mainSection3-scroll {
            @apply absolute top-[90%] left-1/2 -translate-x-1/2 flex flex-row gap-5 h-[7%] justify-center items-center
        }

        .mainSection3-video {
            @apply flex w-[85%] aspect-[880/596] rounded-[12px] m-[0_auto] overflow-hidden shadow-[0_0_15px_1px_rgba(0,0,0,0.3)]
        }

        /*--img*/
        .mainSection3-img-robot {
            @apply hidden
        }

        .mainSection3-img-sparkle {
            @apply hidden
        }

        .mainSection3-img-spring {
            @apply hidden
        }

        .mainSection3-img-y{
            @apply hidden
        }

        .mainSection3-img-bubble {
            @apply hidden
        }

        /*about*/
        /*--section1*/
        /*--img*/
        .aboutSection1-line-plum {
            @apply top-[55%] -left-[10%] scale-[40%]
        }

        .aboutSection1-line-yellow {
            @apply -top-5 -right-10 scale-[40%]
        }

        .aboutSection1-title {
            @apply text-[24px]
        }

        .aboutSection1-subtitle {
            @apply text-[14px] w-[60%]
        }

        /*--section2*/
        /*---img*/
        /*--section2*/
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*project*/
        .flexible-card {
            @apply basis-1;
        }

        /*portfolio*/
        .portfolio-card {
            @apply basis-1;
        }

        /*valid*/
        .valid-card {
            @apply basis-1;
        }
    }
    /*728px*/
    @screen md {
        /*main*/
        /*--section1*/
        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[56px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[20px] text-black/50
        }

        /*--section2*/
        .mainSection2-title {
            @apply text-[56px] font-extrabold
        }

        /*---img*/
        .mainSection2-img-robot {
            @apply absolute w-[17%] top-[18%] left-[5%] animate-float-robot-3s
        }

        .mainSection2-img-earth {
            @apply absolute w-[70%] top-[60%] left-[50%] transform -translate-x-1/2
        }

        .mainSection2-img-FlyingBoy1 {
            @apply absolute w-[30%] top-[45%] left-[3%] animate-float-robot-5s
        }

        .mainSection2-img-FlyingBoy2 {
            @apply absolute w-[30%] top-[68%] right-[20%] animate-float-robot-3s
        }

        .mainSection2-img-FlyingGirl3 {
            @apply absolute w-[25%] top-[10%] right-[0%] animate-float-robot-3s
        }

        .mainSection2-img-whale {
            @apply absolute w-[15%] top-[35%] right-[0%] animate-float-robot-5s
        }

        .mainSection2-img-star1 {
            @apply absolute w-[15%] top-[44%] left-[35%]
        }

        .mainSection2-img-planet {
            @apply absolute w-[20%] top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply absolute w-[20%] top-[55%] right-[18%]
        }

        .mainSection2-img-rabbit {
            @apply absolute w-[40%] top-[37%] right-0
        }

        /*--section3*/

        .mainSection3-index {
            @apply flex gap-[5%] relative w-full h-screen justify-center items-start
        }

        .mainSection3-text-box {
            @apply flex flex-col gap-5 w-[50%] text-center items-start m-[0_0_0_6%]
        }
        .mainSection3-scroll {
            @apply absolute top-[90%] left-1/2 -translate-x-1/2 flex flex-row gap-5 h-[7%] justify-center items-center;
        }

        .mainSection3-video {
            @apply flex w-[85%] aspect-[880/596] rounded-[30px] m-[0_auto] overflow-hidden shadow-[0_0_15px_1px_rgba(0,0,0,0.3)];
        }
        /*---image*/
        .mainSection3-img-robot {
            @apply flex absolute top-[17%] left-[65%] w-[25%] scale-x-[-1];
            transform: scaleX(-1) !important;

        }
        .mainSection3-img-spring {
            @apply flex absolute top-[35%] left-[90%] w-[10%];
            transform: scaleY(-1) rotate(180deg) !important;
        }

        .mainSection3-img-sparkle {
            @apply absolute flex top-[10%] left-[80%] w-[80%];
        }

        .mainSection3-img-bubble {
            @apply flex absolute top-[13%] left-[55%] w-[10%];
        }

        /*--section4*/
        /*--section5*/
        /*about*/
        /*--section1*/
        .aboutSection1-line-plum {
            @apply top-[60%] left-[5%] scale-75
        }

        .aboutSection1-line-yellow {
            @apply top-[10%] right-[5%] scale-75
        }

        .aboutSection1-title {
            @apply text-[56px]
        }

        .aboutSection1-subtitle {
            @apply text-[24px] w-[58%]
        }

        /*--section2*/
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*project*/
        .flexible-card {
            @apply basis-[45%] max-w-[45%];
        }

        /*portfolio*/
        .portfolio-card {
            @apply basis-[45%] max-w-[45%];
        }

        /*valid*/
        .valid-card {
            @apply basis-[45%] max-w-[45%] w-full;
        }
    }
    @screen lg {
        .portfolio-card {
            @apply basis-[30%] max-w-[30%];
        }
    }
    /*1280px*/
    @screen xl {
        /*main*/
        /*--section1*/
        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[56px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[20px] text-black/50
        }
        /*--section2*/
        .mainSection2-title {
            @apply text-[56px] font-extrabold
        }
        /*---Img*/
        .mainSection2-img-robot {
            @apply w-[8%] absolute top-[15%] left-[10%]
        }

        .mainSection2-img-earth {
            @apply w-[35%] absolute top-[60%] scale-100
        }

        .mainSection2-img-FlyingBoy1 {
            @apply w-[15%] absolute top-[50%] left-[5%]
        }

        .mainSection2-img-FlyingBoy2 {
            @apply w-[15%] absolute top-[69%] right-[35%]
        }

        .mainSection2-img-FlyingGirl3 {
            @apply w-[14%] absolute top-[8%] right-[8%]
        }

        .mainSection2-img-whale {
            @apply w-[7%] absolute top-[40%] right-[10%]
        }

        .mainSection2-img-star1 {
            @apply w-[7%] absolute top-[35%] left-[20%]
        }

        .mainSection2-img-planet {
            @apply w-[10%] absolute top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply w-[10%] absolute top-[70%] right-[17%]
        }

        .mainSection2-img-rabbit {
            @apply w-[20%] absolute top-[50%] right-0
        }
        /*--section3*/
        .mainSection3-index {
            @apply flex flex-row gap-[10%] relative w-full h-screen justify-center items-start
        }

        .mainSection3-text-box {
            @apply flex flex-col gap-5 xl:w-[30%] w-[20%] text-center items-start m-[8%_0_0_5%]
        }
        .mainSection3-scroll {
            @apply absolute top-[45%] left-[3%] flex flex-col h-screen justify-start items-start
        }

        .mainSection3-video {
            @apply flex w-[42.74%] aspect-[880/596] rounded-[36px] m-[13%_0_0_0] overflow-hidden shadow-[0_0_30px_10px_rgba(0,0,0,0.3)]
        }

        /*---image*/
        .mainSection3-img-robot {
            @apply flex absolute w-[15%] top-[60%] left-[20%] animate-float-robot-5s;
            transform: none !important;
        }

        .mainSection3-img-sparkle {
            @apply flex absolute w-[30%] top-[55%] left-[23%] transform -translate-x-1/2
        }

        .mainSection3-img-spring {
            @apply flex absolute w-[5%] top-[80%] left-[15%] animate-float-robot-3s;
            transform: none !important;
        }

        .mainSection3-img-y{
            @apply flex absolute w-[45%] top-0 left-[65%] transform -translate-x-1/2
        }

        .mainSection3-img-bubble {
            @apply flex absolute w-[7%] top-[55%] left-[33%]  animate-float-robot-3s
        }

        /*////*/







        /*---image*/

        /*.mainSection3-img-spring {*/
        /*    @apply flex absolute top-[35%] left-[90%] w-[10%];*/
        /*    transform: scaleY(-1) rotate(180deg) !important;*/
        /*}*/

        /*.mainSection3-img-sparkle {*/
        /*    @apply absolute flex top-[10%] left-[80%] w-[80%];*/
        /*}*/

        /*.mainSection3-img-bubble {*/
        /*    @apply flex absolute top-[13%] left-[55%] w-[10%];*/
        /*}*/
        /*--section4*/
        /*--section5*/
        /*about*/
        /*--section1*/
        .aboutSection1-line-plum {
            @apply top-[37%] left-[5%]
        }

        .aboutSection1-line-yellow {
            @apply absolute top-[15%] right-[5%]
        }

        .aboutSection1-subtitle {
            @apply text-[30px] w-[100%] font-bold leading-[150%] -tracking-[0.5px]
        }

        /*--section2*/
        /*--section3*/
        /*--section4*/
        /*--section5*/
        /*project*/
        .flexible-card {
            @apply basis-[30%] max-w-[30%];
        }

        /*portfolio*/
        /*valid*/
        .valid-card {
            @apply basis-[30%] max-w-[30%] w-full;
        }

    }
    /*1920px*/
    @screen 2xl {
        /*main*/
        /*--section1*/
        .mainSection1 {
            @apply sticky top-0 h-screen flex flex-col justify-center items-center z-10
        }

        .mainSection1-title {
            @apply font-nanumSquareRound font-extrabold text-[60px]
        }

        .mainSection1-subtitle {
            @apply font-nanumSquareRound font-normal text-[24px] text-black/50
        }

        /*--section2*/
        .mainSection2-title {
            @apply text-[68px] font-extrabold
        }
        /*---Img*/
        .mainSection2-img-robot {
            @apply w-[8%] absolute top-[15%] left-[15%]
        }

        .mainSection2-img-earth {
            @apply w-[35%] absolute top-[60%]
        }

        .mainSection2-img-FlyingBoy1 {
            @apply w-[15%] absolute top-[50%] left-[10%]
        }

        .mainSection2-img-FlyingBoy2 {
            @apply w-[13%] absolute top-[70%] right-[37%]
        }

        .mainSection2-img-FlyingGirl3 {
            @apply w-[14%] absolute top-[5%] right-[8%]
        }

        .mainSection2-img-whale {
            @apply w-[5%] absolute top-[45%] right-[10%]
        }

        .mainSection2-img-star1 {
            @apply w-[6%] absolute top-[40%] left-[22%]
        }

        .mainSection2-img-planet {
            @apply w-[10%] absolute top-[0%] right-[26%]
        }

        .mainSection2-img-star2 {
            @apply w-[8%] absolute top-[65%] right-[20%]
        }

        .mainSection2-img-rabbit {
            @apply w-[20%] absolute top-[40%] right-0
        }
        /*--section3*/
        .mainSection3-index {
            @apply flex flex-row gap-[10%] relative w-full h-screen justify-center items-start
        }

        .mainSection3-text-box {
            @apply flex flex-col gap-5 w-[20%] text-center items-start mt-[8%] ml-[10%]
        }
        .mainSection3-scroll {
            @apply absolute top-[45%] left-[3%] flex flex-col h-screen justify-start items-start
        }
        .mainSection3-video {
            @apply flex w-[42.74%] aspect-[880/596] rounded-[54px] m-[13%_0_0_0] overflow-hidden shadow-[0_0_30px_10px_rgba(0,0,0,0.3)]
        }

        /*---image*/
        .mainSection3-img-robot {
            @apply flex absolute bottom-[13%] left-[20%] animate-float-robot-5s
        }

        .mainSection3-img-sparkle {
            @apply flex absolute bottom-[0%] left-[20%] transform -translate-x-1/2
        }

        .mainSection3-img-spring {
            @apply flex absolute bottom-[13%] left-[13%] animate-float-robot-3s
        }

        .mainSection3-img-y{
            @apply flex absolute top-0 right-0 transform -translate-x-1/2
        }

        .mainSection3-img-bubble {
            @apply flex absolute bottom-[35%] left-[33%]  animate-float-robot-3s
        }

        /*about*/
        /*--section1*/
        .aboutSection1 {
            @apply flex justify-center items-center w-full h-[10%] bg-local bg-black/20 z-10 overflow-hidden
        }

        .aboutSection1-line-plum {
            @apply absolute top-[37%] left-[20%] scale-100
        }

        .aboutSection1-line-yellow {
            @apply absolute top-[15%] right-[17.5%] scale-100
        }

        .aboutSection1-title {
            @apply text-[68px] font-extrabold leading-[150%] -tracking-[0.5px]
        }

        .aboutSection1-subtitle {
            @apply text-[30px] font-bold leading-[150%] -tracking-[0.5px]
        }

        /*project*/
        .flexible-card {
            @apply basis-[30%] max-w-[30%];
        }

        /*portfolio*/
        .portfolio-card {
            @apply basis-[23%] max-w-[23%];
        }

        /*valid*/
        .valid-card {
            @apply basis-[30%] max-w-[30%] w-full;
        }
    }
}

:root {
    width: 100%;
    height: 100%;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    min-width: 320px;
    min-height: 100vh;
    /*overflow-x: hidden; !* 가로 스크롤 방지 *!*/
}

body::-webkit-scrollbar {
    display: none; /* 스크롤바 숨기기 */
}

@layer utilities {
    /* 웹킷 기반 스크롤바 숨기기 */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Firefox에서 스크롤바 숨기기 */
    .no-scrollbar {
        scrollbar-width: none; /* Firefox */
    }
}


